on:
  workflow_dispatch:

jobs:
  testJob:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "::error::Error"
          echo "::warning::Warning"
          echo "::notice::Info"
          echo "::debug::Debug"
          echo "::command::Command"
          
